<section class="footer">
    <div class="container allfooter">
      <div class="footerlink">
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="//wa.me/08137225382"><span class="fa fa-whatsapp"></span></a>
        <a href="#"><span class="fa fa-linkedin"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
      </div>
      <p>Call us: <a href="tel:+2348137225382">+2348137225382</a></p>
      <h6>&copy 2022 - LucSan Phonics and Diction; All Rights Reserved.</h6>
    </div>

  </section>
  <script src="https://kit.fontawesome.com/d430a33b98.js" crossorigin="anonymous"></script>


  <script src="js/bootstrap.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/jquery.js"></script>
</body>

</html>