<%- include("partials/head") %>
<section class="aboutus">
    <%- include("partials/navbar") %>
    <div class="container">
        <div class="about">
            <h2>Welcome to LucSan Phonics and Diction</h2>
        </div>





        
    </div>
<%- include("partials/footer") %>
</section>