<%- include("partials/head") %>
  <section class="gallerymain">
    <%- include("partials/navbar") %>

      <div class="container galleryimgdisplay">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-body">
              <img class="galleryimg" src="img/IMG-20230622-WA0000.jpg" alt="">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-body">
              <video class="galleryimg" src="video/VID-20230622-WA0004.mp4" controls></video>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-body">
              <video class="galleryimg" controls src="video/VID-20230622-WA0005.mp4" type="video"></video>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-body">
              <video class="galleryimg" src="video/VID-20230622-WA0003.mp4" controls></video>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-body">
              <img class="galleryimg" src="img/IMG-20230622-WA0001.jpg" alt="">

            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-body">

              <img class="galleryimg" src="img/IMG-20230622-WA0002.jpg" alt="">
            </div>
          </div>
        </div>

      </div>


      <%- include("partials/footer") %>
  </section>