<%- include("partials/head") %>
<section class="getStarted">
<%- include("partials/navbar") %>

    <div class="container">
        <div class="getStarted">
            <h2>Register Now</h2>
            <p>Start your journey to PUBLIC SPEAKING and become a fluent speaker</p>
            <span>Already have an account with us <a href="">LOGIN</a> </span>
            <div class="form">
                <h2>Register</h2>
                <form action="osakweluckychukwudi@gmail.com" method="post">
                    <fieldset class="row formfield">
                        <label for="fname">First Name: </label><input type="text" name="fname" id="fname"
                            placeholder="Enter Your First Name" required></label>
                            <label for="lname">Last Name: </label><input type="text" name="lname" id="lname"
                            placeholder="Enter Your Last Name" required></label>
                            <label for="email">Email:</label> <input type="email" name="email" id="email"
                            placeholder="Enter Your Email" required></label>
                        <label for="password">Create a Password: </label><input type="password" name="password" id="password"
                            placeholder="Enter Your Password">
                
                        <label for="mobileNumber">Mobile Number:</label> <input type="number" name="mobileNumber" id="mobileNumber"
                            placeholder="Enter Mobile Number" max="">
                    </fieldset>
                    <fieldset>
                        <label for="individual-account">Individual:  <input type="radio" name="account-type" id="individual-account"></label>
                        <label for="corporate-account">Corporate:  <input type="radio" name="account-type" id="corporate-account"></label>
                    </fieldset>
                    <fieldset>
                        <label for="age">Your Age: <input type="number" name="age" id="age"></label>
                        <label for="referrer"></label>
                    </fieldset>
                    <button class="btn btn-primary">Submit</button>                    
                </form>

            </div>
        </div>
    </div>

    
    <%- include("partials/footer")  %>
</section>

