<%- include("partials/head") %>

  <section class="navbar-section">

<%- include("partials/navbar") %>
    <!-- navbar area -->

    

    <div class="container">
      <div class="welcome">
        <h1>Welcome to <span> LucSan Phonics and Diction</span></h1>
        <span class="spanwelcome">We Teach, Instruct, Educate both Young and Old</span>

      </div>
      <div class="speakright">
        <h2>The Secret of Speaking Right</h2>
        <p>“Speaking right means neither ‘twisting the tongue’ nor speaking in a “foreign accent”, but pronouncing
          individual words correctly” – <em>Oleander Yuba</em></p>
      </div>

    </div>

  </section>

  <section class="display">
    <div class="container">

      <h3>Check our collections </h3>
      <!-- Carousel -->
      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/IMG-20230622-WA0000.jpg">

          </div>
          <div class="carousel-item">
            <video src="video/VID-20230622-WA0003.mp4" controls></video>
          </div>
          <div class="carousel-item">
            <video src="video/VID-20230622-WA0004.mp4" controls></video>
          </div>

          <div class="carousel-item">
            <video src="video/VID-20230622-WA0005.mp4" controls></video>
          </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>
  </section>
  <section class="container card-display">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="mission-log" src="img/mission.png" alt="mission-log">
            <h3 class="card-title">Our Mission</h3>
            <p class="card-text">
            <p class="card-text">We intend to bridge that crucial gap between the total and well-taught child and the successful and well equipped adult.</p>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="vision-log" src="img/vision.png" alt="mission-log">
            <h3 class="card-title">Our Vision</h3>
            <p class="card-text">
            <p class="card-text">Our vision is to develop well rounded, confident and responsible individuals who aspire
              to achieve their full potential</p>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="mission-log" src="img/achievement.png" alt="mission-log">
            <h3 class="card-title">How we accomplish Our Mission</h3>
            <p class="card-text">
            <p class="card-text">We accomplish our mission through many process of knowledge inculcation, social inclusion and confidence-building. For the adults, we intend to reinforce the science of self-believe through mastery of the spoken word.</p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <%- include("partials/footer")  %>